.bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  background-color: white;
}

.barContent {
  display: flex;
  justify-content: flex-end;
  height: 84px;
}
.logoWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.logo {
  display: flex;
  align-items: flex-end;
  font-size: 2.4rem;
  font-weight: 500;
}
.logo span {
  color: #d32f2f;
}
.delimiterWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -2%;
  right: 0;
  left: 0;
}
.tabbedBlock {
  /* margin-right: 30px;
  margin-left: 30px; */
  display: flex;
  align-items: flex-end;
  position: fixed;
  top: 29.5px;
  right: 0;
}
.headerButton {
  height: 50px;
  width: 200px;
  border: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 120%;
  z-index: 100;
}
.active {
  background-color: #d32f2f;
  height: 54px;
  color: white;
  font-size: 130%;
}

@media screen and (min-width: 1600px) {
  .delimiterWrapper {
    left: 5%;
  }
}
@media screen and (min-width: 1700px) {
  .delimiterWrapper {
    left: 8%;
  }
}
@media screen and (min-width: 1800px) {
  .delimiterWrapper {
    left: 10%;
  }
}
@media screen and (min-width: 1900px) {
  .delimiterWrapper {
    left: 12%;
  }
}
@media screen and (max-width: 1500px) {
  .bar {
    zoom: 90%;
  }
}
