.textarea {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: white;
  background-clip: padding-box;
  border: 2px solid grey;
  border-radius: 8px;
  height: 150px;
  text-align: center;
  resize: none;
  overflow: auto;
  font-family: inherit;
}
.textarea:focus {
  color: black;
  background-color: #fff;
  border-color: #e99898;
  outline: 0;
  text-align: center;
}
